{% extends 'app/layout.html' %}

{% block title %}Ajouter compte{% endblock %}

{% block body %}
    <div class="row">
        <h2 class="col-12">Ajouter un compte</h2>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="" method="post">
                <div class="form-group">
                    <label for="id_name">Nom du compte</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>

                {% csrf_token %}
                <button class="btn btn-default" type="submit">Créer</button>
            </form>
        </div>
    </div>
{% endblock %}
