{%  extends 'app/layout.html' %}
{% load static %}

{% block title %}Comptes{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url 'index' %}">Accueil</a></li>
        <li>Comptes</li>
    </ul>
{% endblock %}

{% block body%}
    <div class="row">
        <h2 class="col-offset-1 col-11">Vos comptes actuels</h2>
    </div>

    <div class="row">
        <div class="col-12">
            <a href="{% url 'add_account_system' %}" class="btn btn-primary">Ajouter un compte</a>
        </div>
    </div>

    <div class="row text-bold mt-1">
        <div class="col-11">Nom du compte</div>
        <div class="col-1">Actions</div>
    </div>
    <div class="row">
        {% if accounts %}
            {% for account in accounts %}
                <div class="col-11"><a href="{% url 'list_transactions_system' account.id %}" class="account-name">{{ account.name }}</a></div>
                <div class="col-1">
                    <a href="{% url 'change_account_system' account.id %}" title="Modifier">
                        <img src="{% static 'system/images/pencil.svg' %}" class="ico ico-pencil">
                    </a>

                    <a href="{% url 'delete_account_system' account.id %}" title="Supprimer">
                        <img src="{% static 'system/images/delete.svg' %}" class="ico ico-delete">
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 text-center">Vous n'avez pas enregistré de compte</div>
        {% endif %}
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test">test</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#test2">test2</button>

    <div class="modal" id="test" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Test</h2>
            </div>
            <div class="modal-body">
                Bla bla bla bla bla bla
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>

    <div id="test2" tabindex="-1">
        test2
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'system/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'system/js/modal.js' %}"></script>
{% endblock %}
