.ico img {
  fill: currentColor;
  vertical-align: middle;
}

.ico-user-navbar {
   width: 16px;
   fill: $nav-color;
 }

.ico-user-navbar:hover {
  fill: darken($nav-color, 30%);
}

.ico-user-register-navbar {
  width: 24px;
  fill: $nav-color;
}

.ico-user-register-navbar:hover {
  fill: darken($nav-color, 30%);
}

.ico-standby-navbar {
  width: 19px;
  fill: $nav-color;
}

.ico-standby-navbar:hover {
  fill: darken($nav-color, 30%);
}

.ico-bank-euros-navbar {
  width: 19px;
  fill: $nav-color;
}

.ico-bank-euros-navbar:hover {
  fill: darken($nav-color, 30%);
}

.ico-pencil {
  width: 24px;
  fill: #fe7f36;
}

.ico-delete {
  width: 24px;
  fill: red;
}
