$nav-color: #FFF;

/**
 * Panel variables
 */
$panel-default-color: #e0e0e0;
$panel-default-background-color: #ebebeb;
$panel-primary-color: #4b7bff;
$panel-primary-background-color: #337ab7;

/**
 * color
 */
$color-error: #dd6556;
$color-success: #5fc35f;
$color-default: #8d8d8d;
$color-primary: #4b7bff;
