@import "variables";
@import "reset";
@import "grid";
@import "components/navbar";
@import "components/breadcrumb";
@import "components/panel";
@import "components/forms";
@import "components/buttons";
@import "components/alert";
@import "components/badge";
@import "components/modal";
@import "ico";

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1%;
}

.mb-02 {
  margin-bottom: 0.2%;
}

.account-name {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 1.1rem;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.td-a-none > a, .td-a-none {
  text-decoration: none;
}
