{% extends 'administration/layout.html' %}
{% load static %}

{% block title %}
    Liste des catégories
{% endblock %}

{% block body %}
    <section>
        <h1>Liste des catégories</h1>

        <a href="{% url 'admin_account_add' %}" class="btn btn-primary col-offset-9">Ajouter</a>

        <div class="row text-bold mt-1">
            <div class="col-10">Nom</div>
            <div class="col-2">Actions</div>
        </div>

        <article class="row">
        {% if categories %}
            {% for category in categories %}

                <div class="col-10">{{ category.name }}</div>

                <div class="col-2 td-a-none">
                    <a href="{% url 'admin_account_change' category.id %}" title="Modifier">
                        <img src="{% static 'system/images/pencil.svg' %}" class="ico ico-pencil">
                    </a>

                    <a href=""
                       data-toggle="modal" data-target="#delete" data-id="{{ category.id }}" title="Supprimer">
                        <img src="{% static 'system/images/delete.svg' %}" class="ico ico-delete">
                    </a>
                </div>
                </article>
                <article class="row">
            {% endfor %}
                </article>
        {% else %}
            <div class="col-12 text-center">Il n'y a pas de catégories enregistrées à ce jour</div>
        {% endif %}
        </article>
    </section>

    <div class="modal" id="delete" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-header">
                <h2>Supprimer une catégorie</h2>
            </div>
            <div class="modal-body">
                Voulez-vous supprimer la catégorie ?
            </div>
            <div class="modal-footer">
                <button class="btn btn-error" type="button" data-toggle="delete" data-id="">Supprimer</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'system/js/jquery-ui.min.js' %}"></script>
    <script>
        var id;
        var target;

        $('[data-toggle="modal"]').click(function(event) {
            event.preventDefault();
            id = $(this).attr('data-id');
            target = $(this).attr('data-target');
        });

        $('[data-toggle="delete"]').click(function(event) {
            event.preventDefault();
            var link = "{% url 'admin_account_delete' '0' %}".replace('0', id);

            window.location = link;
        });
    </script>
    <script src="{% static 'system/js/modal.js' %}"></script>
{% endblock %}
