/**
 * Buttons component
 */
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  font-size: 1rem;
  margin-right: 1rem;
}

a.btn {
  text-decoration: none;
  font-family: Arial;
}

.btn-default {
  border-color: $color-default;
  background-color: $color-default;
  color: white;
}

.btn-default:hover {
  border-color: darken($color-default, 15%);
  background-color: darken($color-default, 15%);
}

.btn-primary {
  border-color: $color-primary;
  background-color: $color-primary;
  color: white;
}

.btn-primary:hover {
  border-color: darken($color-primary, 15%);
  background-color: darken($color-primary, 15%);
}

.btn-error {
  border-color: $color-error;
  background-color: $color-error;
  color: white;
}

.btn-error:hover {
  border-color: darken($color-error, 15%);
  background-color: darken($color-error, 15%);
}

.btn-success {
  border-color: $color-success;
  background-color: $color-success;
  color: white;
}

.btn-success:hover {
  border-color: darken($color-success, 15%);
  background-color: darken($color-success, 15%);
}
