{% extends 'app/layout.html' %}

{% block title %}Accueil{% endblock %}



{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>Accueil</li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-offset-2 col-8 panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Informations</h2>
            </div>
            <div class="panel-body">
                <p><b>Bank Transactions</b> est un site internet,
                permettant de noter ses transactions bancaires.</p>

                <p>Pour des raisons de sécurités et de RGPD, ce site est à usage
                strictement personnel, aussi l'accès en est restreint.
                Si vous êtes tombé sur cette adresse par hasard, merci de ne pas créer de compte,
                ce dernier ne sera jamais validé.</p>

                <p>Pour une copie de ce système, merci de vous rendre sur le dépôt Github,
                afin de télécharger une copie du site et de le mettre sur votre machine ou votre serveur.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-offset-2 col-8 panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Utilisation</h2>
            </div>
            <div class="panel-body">
                <p>Le site est très simple d'utilisation. Vous devez créer un compte,
                    qui sera validé par l'administrateur. Une fois inscrit et connecté, vous pouvez créer,
                    autant de compte bancaire que vous le souhaitez.
                    Chaque compte bancaire vous est associé, aucun autre utilisateur n'y a accès.
                    Vous enregistrez ensuite vos transactions bancaires comme vous le souhaitez.</p>

                <p>Le but du site, est de pouvoir noter au fur et à mesure, les rentrées et dépenses,
                ce qui permet au moment de vérifier avec le compte bancaire, de vous assurer que tout est bon.
                Ainsi, vous maîtrisez vos dépenses grâce à cet outil.
                Les transactions sont considérées en euros.
                </p>

                <p>Il est rappelé, que cet outil n'est pas à usage publique, ceci afin d'assurer
                une certaine confidentialité. En général vous serez donc seul à vous servir,
                mais vous pouvez aussi dans un cadre familiale par exemple, dans ce cas là, le premier
                utilisateur créé (lors de l'installation du site), est administrateur et dispose donc,
                des droits pour autoriser les autres utilisateurs.
                En revanche, aucun utilisateur n'a accès aux données des autres, ceci à des fins de sécurités.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-offset-2 col-8 panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Version 1.0.0</h2>
            </div>
            <div class="panel-body">
                <p>L'outil, est actuellement dans sa toute première version. Cela veut dire,
                que certains éléments prévus ne sont pas encore implémentés :
                <ul>
                    <li>Statistiques</li>
                    <li>Système de news</li>
                    <li>Système de contact du développeur</li>
                    <li>Changelog</li>
                </ul></p>

                <p>Pour contacter le développeur, veuillez vous rendre sur le dépôt Github
                du projet, afin de transmettre vos problèmes ou suggestions d'améliorations,
                    via le système associé.</p>

                <p>Pour les statistiques, le but étant de vous donner, encore plus de moyens,
                afin de gérer vos dépenses.</p>

                <p>Pour les news, cela arrivera sur la prochaine version</p>
                <p>Pour le changelog, le principe est de disposer d'un accès rapide à la liste des changements,
                intervenus depuis la dernière mise à jour.</p>
            </div>
        </div>
    </div>

    <p><b>Bank Transactions</b> est développé par <i>Christophe Daloz - De Los Rios</i>.
        Copyright &copy; Christophe Daloz - De Los Rios, 2020 - Licence MIT</p>

    <p>Le site est strictement réservé à un usage personnel, pour des raisons de RGPD notemment.
        Toute utilisation dans un autre cadre, ne peut tenir le développeur pour responsable,
        ni exigé de ce dernier un respect de la RGPD.<br>
    Le développeur permet d'obtenir une copie de l'outil, mais ne fournis pas d'accès à ce dernier.</p>
{% endblock %}
