{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'app/css/global.css' %}" type="text/css">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %} - Bank Transactions</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-dark">
                <a href="#" class="navbar-title">Navbar</a>
                <div class="col-1">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#" class="nav-link">Accueil</a></li>
                </ul>
                </div>
                <div class="col-offset-8 col-2">
                <ul class="nav-items">
                    <li class="nav-item">
                        <a href="#" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user.svg' %}" alt="" class="ico ico-user-navbar">
                            Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user_register.svg' %}" alt="" class="ico ico-user-register-navbar">
                            Inscription
                        </a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>

        {% block body %}
        {% endblock %}
    </div>

    <script src="{% static 'app/js/jquery-3.5.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/js/icons.js' %}" type="application/javascript"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
