{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'app/css/global.css' %}" type="text/css">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %} - Bank Transactions</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-dark">
                <a href="#" class="navbar-title">Bank</a>
                <div class="col-1">
                <ul class="nav-items">
                    <li class="nav-item"><a href="#" class="nav-link">Accueil</a></li>
                </ul>
                </div>
                <div class="col-offset-8 col-2">
                <ul class="nav-items">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="#" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user.svg' %}" alt="" class="ico ico-user-navbar">
                            Profil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user_register.svg' %}" alt="" class="ico ico-user-register-navbar">
                            Déconnexion
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user.svg' %}" alt="" class="ico ico-user-navbar">
                            Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ico">
                            <img src="{% static 'app/images/icons/user_register.svg' %}" alt="" class="ico ico-user-register-navbar">
                            Inscription
                        </a>
                    </li>
                {% endif %}
                </ul>
                </div>
            </nav>

            <div>
                {% block breadcrumb %}
                {% endblock %}
            </div>
        </header>

        {% block body %}
        {% endblock %}

        <footer>
            <p><b>Bank Transactions</b> est développé par <i>Christophe Daloz - De Los Rios</i>.
                Copyright &copy; Christophe Daloz - De Los Rios, 2020 - Licence MIT</p>

            <p>Le site est strictement réservé à un usage personnel, pour des raisons de RGPD notemment.
                Toute utilisation dans un autre cadre, ne peut tenir le développeur pour responsable,
                ni exigé de ce dernier un respect de la RGPD.<br>
                Le développeur permet d'obtenir une copie de l'outil, mais ne fournis pas d'accès à ce dernier.</p>
        </footer>
    </div>

    <script src="{% static 'app/js/jquery-3.5.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/js/icons.js' %}" type="application/javascript"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
